/* Define some global CSS variables. */
:root {
	--bg-color: black;
	--text-color-primary: white;
	--text-color-secondary: #1d9bf0;
}

html {
	font-size: 16px;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color-primary);
}
a {
	text-decoration: none;
	color: var(--text-color-secondary);
}
a:hover,
a.active {
	color: var(--text-color-primary);
	text-decoration: underline;
}

/* Style the main navbar. */
nav.nav-header {
	font-size: 3rem;
	overflow: hidden;
	position: sticky;
	top: 0px;
}
nav.nav-header ul {
	list-style-type: none;
	display: flex;
	justify-content: end;
	margin-top: 2rem;
}
nav.nav-header ul li a {
	background-color: var(--bg-color);

	/* Top needs more padding, so we can hide the text behind the navbar. */
	padding-top: 3rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
}
nav.nav-header ul li a.menu-toggle {
	display: none;
}

/* Basic fade-in animation. */
.fade-in {
	opacity: 0;
	transition: opacity 3s linear;
}
.fade-in.visible {
	opacity: 1;
}

/* Styling for sections. */
section {
	font-size: 3rem;
	display: flex;
	min-height: 100vh;
}

section#home {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

section#about {
	flex-direction: row;
	flex-wrap: wrap-reverse;

	/* Centering. */
	justify-content: center;
	align-items: center;
}
section#about img#portrait {
	width: 100%;

	border-style: outset;
	border-width: 6px;
	border-radius: 45%;
	border-color: var(--text-color-secondary);
}
section#about div {
	margin: 0px 1rem;
}
section#about div#about-image-container {
	width: max(30%, 400px);
}
section#about div#about-text-container {
	width: max(60%, 500px);
}

section#projects {
	flex-direction: column;
}
section .project-button-container {
	text-align: center;
}

div.project-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	margin: 0 1rem;
}
div#project-1 div#project-1-text-container {
	width: max(70%, 500px);
}
div#project-1 div#project-1-image-container {
	margin-top: 6rem;
	width: max(30%, 500px);
}
div#project-1 img.chess-engine-image {
	width: 100%;

	border-style: outset;
	border-width: 3px;
	border-color: var(--text-color-secondary);
}

/* Button styles. */
.btn {
	/* Remove any link styling. */
	text-decoration: none;

	padding: 0.5rem;

	color: var(--text-color-secondary);

	/* Should this be some variable? */
	background-color: rgb(18, 18, 18);

	/* Border. */
	border-style: outset;
	border-width: 4px;
	border-radius: 10px;
	border-color: var(--text-color-secondary);
}
.btn:hover {
	text-decoration: none;
	color: var(--text-color-primary);
	border-color: var(--text-color-primary);
}

/* Animation for first button on the page. */
.more-btn {
	position: relative;
	animation-name: button-slide-up;
	animation-duration: 4s;
}
@keyframes button-slide-up {
	0% {
		top: 500px;
		opacity: 0;
	}
	80% {
		top: 500px;
		opacity: 0;
	}
	90% {
		top: -50px;
		opacity: 1;
	}
	100% {
		top: 0px;
		opacity: 1;
	}
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 1rem;
}
footer .icon-container {
	padding-bottom: 0.5rem;
}
footer .icon-container a {
	margin: 0px 0.75rem;
}
footer .icon-container a:hover {
	text-decoration: none;
}

/* Small screens. */
@media only screen and (max-width: 600px) {
	/* Tweak the font-size. */
	html {
		font-size: 12px;
	}
	p {
		font-size: 2rem;
	}

	/* Tweak navigation position/direction. */
	nav.nav-header ul {
		width: 100%;
		margin: 0px;
		padding: 0.5rem 0px;
		background-color: var(--bg-color);

		flex-direction: column;
		justify-content: center;
		align-items: end;
	}
	nav.nav-header ul li a {
		padding: 0px;
	}

	/* Show the menu toggle icon. */
	nav.nav-header ul li a.menu-toggle {
		display: block;
	}

	/* Hide all but the toggle icon when collapsed. */
	nav.nav-header.collapsed ul li a:not(.menu-toggle) {
		display: none;
	}
}
