/* Define some global CSS variables. */
:root {
	--bg-color: black;
	--text-color-primary: white;
	--text-color-secondary: #1d9bf0;
	--font-size: 3em;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color-primary);
}

/* Style the main navbar. */
nav.nav-header {
	font-size: var(--font-size);
	overflow: hidden;
	position: sticky;
	top: 0px;
}
nav.nav-header ul {
	list-style-type: none;
	display: flex;
	justify-content: end;
}
nav.nav-header ul li a {
	color: var(--text-color-secondary);
	padding: 14px 16px;
	text-decoration: none;
}
nav.nav-header ul li a:hover,
nav.nav-header ul li.active {
	color: var(--text-color-primary);
	text-decoration: underline;
}

/* Basic fade-in animation. */
.fade-in {
	opacity: 0;
	transition: opacity 3s linear;
}
.fade-in.visible {
	opacity: 1;
}

.more-btn {
	position: relative;
	animation-name: button-slide-up;
	animation-duration: 4s;
}
@keyframes button-slide-up {
	0% {
		top: 500px;
		opacity: 0;
	}
	80% {
		top: 500px;
		opacity: 0;
	}
	90% {
		top: -50px;
		opacity: 1;
	}
	100% {
		top: 0px;
		opacity: 1;
	}
}

section {
	font-size: var(--font-size);
	display: flex;
}

/* TODO: Verify if we should be using 'vh' here? */
#initial-section {
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#about {
	height: 100vh;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#portrait {
	max-width: 500px;
	height: auto;
	border-radius: 45%;
}

.btn {
	/* Remove any link styling. */
	text-decoration: none;

	padding: 10px;

	color: var(--text-color-secondary);

	/* Should this be some variable? */
	background-color: rgb(18, 18, 18);

	/* Border. */
	border-style: outset;
	border-width: 4px;
	border-radius: 10px;
	border-color: var(--text-color-secondary);
}

.btn:hover {
	color: var(--text-color-primary);
	border-color: var(--text-color-primary);
}
